.navbar {
  color: #FFFFFF;
}

label {
  font-size: 2rem;
  font-weight: bold;
}

h3 {
  font-weight: lighter;
  margin-left: .5rem;
}

main {
  margin: 1rem;
}

.card {
  min-width: 13rem;
  padding: 1rem;
}

#uvi {
  padding: 0 10px;
  border-radius: .5rem;
}

#today {
  border: 1px solid #000000;
}



/* #searchForm {
  margin-bottom: 1rem;
  border-bottom: 2px solid grey;
} */